<%=render '/shared/errors', obj: @article%>

<%= form_for @article do |f| %>
	<form>
  		<div class="form-group">
			<%= f.label :title%>
			<%= f.text_field :title, class: "form-control", placeholder: "Title"%>
		</div>
		</br>
		<div class="form-group">
			<%= f.label :description%>
			<%= f.text_area :description, size: "60x10", class: "form-control"%>
		</div>
		</br>
		<div class="form-group">
		   <div class="col-sm-offset-2 col-sm-10">
		     <%= f.submit class: 'btn btn-primary btn-large' %>
		   </div>
		</div>
	</form>
<% end %>